@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;500;700&familyPoppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;500;700&display=swap");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: Poppins;
  background-color: #010824;
  color: #eee;
  font-size: 15px;
  min-height: 100vh;
  background-image: repeating-linear-gradient(
      to right,
      transparent 0 49px,
      #eee1 49px 50px
    ),
    repeating-linear-gradient(to bottom, transparent 0 49px, #eee1 49px 50px);

  &::before {
    position: fixed;
    width: 400px;
    height: 400px;
    content: "";
    background-image: linear-gradient(to right, #5bb450, #3b8132);
    /* z-index: -1; */
    top: -200px;
    left: calc(50% - 200px);
    border-radius: 50% 50% 0 0;
    pointer-events: none;
    filter: blur(250px);
  }
}

main {
  width: min(1300px, 100%);
  margin: auto;
}

header {
  position: fixed;
  width: min(1300px, 100%);
  height: 60px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 100;
  backdrop-filter: blur(10px);
  & img {
    width: 50px;
  }
  & .logo,
  nav {
    display: flex;
    gap: 30px;
    & span {
      cursor: pointer;
      transition: 0.2s ease;
    }
    & .active {
      color: #5bb450;
      text-shadow: 0 0 5px;
    }
  }
}

.section {
  width: min(1300px, 100%);
  margin: auto;
  padding: 50px;
  box-sizing: border-box;
}

section.home {
  display: flex;
  align-items: center;
  justify-content: center;

  & .content {
    font-family: "MuseoModerno", system-ui;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    & .name {
      font-size: 3em;
      font-weight: bold;
      line-height: 1em;
      & span {
        background-image: linear-gradient(to right, #72bf62, #e49534, #5bb450);
        background-size: 200% auto;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        animation: gradientAnimation 3s linear infinite;
      }
    }
    & .des {
      max-width: 500px;
      font-size: medium;
      color: #eee5;
      margin: 30px 0;
      border-left: 0.4em solid #5bb450;
      padding-left: 2em;
    }
    & .box {
      display: flex;
      gap: 20px;
      align-items: center;
    }
    & .btn {
      display: inline-block;
      font-size: medium;
      color: #eee;
      align-content: center;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid #5bb450;
      background-color: transparent;
      width: max-content;
      padding: 10px 10px;
      border-radius: 15px;
      transition: 0.4s ease;
      &:hover {
        border: 1px solid transparent;
        /* background-color: #5bb450; */
        box-shadow: 0px 0px 10px 2px #5bb450 inset;
      }
    }
    & img {
      width: 20px;
      padding-top: 5px;
      transition: 0.2s ease;
      &:hover {
        opacity: 0.7;
        transform: scale(1.2);
      }
    }
  }
}

@keyframes gradientAnimation {
  to {
    background-position: 200% center;
  }
}
